h1 {
    align-content: center;
    font-size: 64px;
    font-style: italic;
    background-image: url('sein-oval.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 114px;
    color: red;
    text-shadow: 1px 1px black;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}

#main {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

.bttn {
    color: red;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    text-shadow: .5px .5px black;
    margin: 0 15px;
    border: none;
    background-image: url('sein-oval.gif');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px;
    width: 125px;
    height: 55px;

}

.poem {
    width: 50%;
    white-space: normal;
    margin: 30px auto;
    box-shadow: 4px 4px 9px 1.5px;
    padding: 15px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}