h1 {
    align-content: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 64px;
    font-style: italic;
    background-image: url('sein-oval.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 114px;
    color: red;
    text-shadow: 1px 1px black;
}

#main {
    text-align: center;
    margin: 30px;
}

.poem {
    width: 100%;
    white-space: normal;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}